/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;

}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#logo {
  text-align: center;
}



#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_content {
  background-color: #ddffff;
  padding: 5% 10%;
  font-weight: bold;
  margin-bottom: 4%;
}

#sidebar_content div {
  background-color: #ffffdd;
  padding: 5%;
  margin-bottom: 4%;
  font-weight: bold;
}

#site_footer {
  background-color: rgb(250,221,176);
}

footer > nav {
  text-align: center;
  padding: 2%;
}

footer > nav > a {
  margin-right: 5%;
}

#main_nav a:hover{
    background: #ddddff;
}

@media (min-width: 600px) {

  body {
    margin: 0px;
  }
  #main_nav a {
      display: inline-block;
      padding: 1.50% 10.5%;
      margin-right: 1%;
  }
  #main_content {
    margin-bottom: 4%;
  }
  #sidebar_content {
    background-color: #ffffdd;
    text-align: center;
  }

  #sidebar_content div {
    display: inline-block;
    padding-right: 2%;
    margin: 0%;
  }

  #sidebar_content div h3 {
    text-align: left;
  }

  #sidebar_content div ul li {
    text-align: left;
}

@media (min-width: 1100px) {
  #logo {
    display: inline-block;
    text-align: left;

}
#main_nav {
  display: inline-block;
  width: 80%;
  margin: 0%;
  vertical-align: center;
  text-align: end;
  margin-left: 11%;
}
main_nav a {
  display: inline-block;
}

#main_content {
  display: flex;
  margin: 0%;
  padding: 0%;
  justify-content: space-between;\
}

#main_content div:first-of-type {
  width: 75%;
  padding-left: 5%;
}
#main_content:nth-child(2) {
  padding-right: 5%;
}

}
